html,
body {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

main {

    z-index: 10;
}

h1 {
    font-family: 'Quantico', sans-serif;
    text-shadow: 1px 2px 5px rgb(87, 79, 204);
}

#title-first {
    font-size: 20px;
}

#title-seccond {
    font-size: 32px;
    display: block;
}

#sinopse-header {
    font-size: 20px;
}

#sinopse-body {
    font-size: 16px;
}

#img-poster {
    height: 28rem;
    width: 18rem;
    object-fit: cover;
    border: 1px solid black;
}

#background {
    position: absolute;
    height: 100%;
    width: 100%;

}

#background-mask {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 9;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.17315588344712884) 50%, rgba(0, 0, 0, 1) 100%);
}

#background-img {
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 10% 20%;

}